.idea
/build
test.go.bak
main_zfec.go.bak
main_old1.go.bak
build.bat
/lumika.exe
/lumika_data
db.json
/build_2.bat
/biliuptest.go
/test1/
/biliuptest.go.bak
/build_arm64.bat
/ziptest.go
/gomobile.exe
/mobile.aar
/mobile-sources.jar
/build_gomobile.bat
